body {
    width: 510px;
    padding-left: 42px;
    font-family:"trebuchet ms",sans-serif;
    font-size:90%;
}

footer {
    margin-top: 142px;
}

h1{
    font-size: xx-large;
    text-align: center;
}

#h2 {
    font-size: x-large;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

#navlink {
    width: 275px;
}

#pageactuelle {
    font-size: xx-large;
}

main{
    margin-left: 17%;
}

fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:2px solid #D83F3D;
}

legend {
    color:#D83F3D;
    font-size: medium;
    font-weight:bold
}

label {
    margin-top:10px;
    display:block;
}

label.inline {
    display:inline;
    margin-right:50px;
}

input, textarea, select, option {
    background-color:#FFF3F3;
}

input, textarea, select {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

select {
    margin-top:10px;
}

input[type=submit], input[type=reset] {
    width:116px;
    margin-left:5px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color:#FCDEDE;
}

input[type=submit]:active, input[type=reset]:active {
    background-color:#FCDEDE;
    box-shadow:1px 1px 1px #D83F3D inset;
   }